<!DOCTYPE html>
<html>
<head>
    <title>Budget App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <script src="budget.js"></script>
</head>
<body>
    <h1>Budget App</h1>
    <div id="navbar">
        <ul>
            <li><a href="/templates/index.html">Home</a></li>
            <li><a href="/templates/add_transaction.html">Add Transaction</a></li>
            <li><a href="/templates/view_transactions.html">View Transactions</a></li>
            <li><a href="/templates/login.html">Logout</a></li>
        </ul>
    </div>
    <div id="content" class="container">
        <!-- Content goes here -->
    </div>
</body>
</html>
