body {
  background-color: rgb(41, 74, 87);
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: rgb(215, 207, 207);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  color: white;
}

#navbar ul li a:hover {
  background-color: dodgerblue;
  border-radius: 5px;
}

h1 {
  color: white;
}
