.main,
.productContainer,
.indexNavigationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0; 
}

.indexNavigationContainer {
    flex-direction: column;
    justify-content: space-between;
}

.indexNavigationContainer a:first-of-type {

    margin-left: 50px;
    margin-right: 50px;
}

.indexNavigation {
    font-size: 30px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 0; 
    padding: 11px;
    background-color: yellow;
}

.indexNavigation:visited,
.indexNavigation:link {
    color: blue;
}

.indexNavigation:hover {
    font-size: xx-large;
    color: yellow;
    background-color: white;
}

.productContainer {
    flex-direction: column;
    border: 2px solid orangered;
    font-size: small;
    padding: 20px;
    text-align: center;
}

.product {
    width: 250px;
    height: auto;
}

.productContainer div button {
    border: 0;
    background-color: orange;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
}

.spacer {
    margin: 30px;
}

.spacerBottom {
    margin-bottom: 22px;
}

.modal {
    opacity: 0;
    pointer-events: none;
    background-color: rgba(131, 168, 217, 0.72);
    position: fixed;
    left: 20px;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1;
    margin-top: 0px;
}

.modalSecond {
    background-color: rgba(164, 205, 107, 0.68);
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.modalContent {
    position: relative;
    background-color: rgb(182, 141, 64);
    color: white;
}

.modalContentSecond {
    background-color: #aed8e6;
}

.modalContent h1 {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: lightpink;
}

.modalContent p {
    color: black;
    background-color: lightpink;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 95%;
    margin: auto;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin-right: 170px;
    height: 200px;
}

.close {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal:target {
    opacity: 1;
    pointer-events: all;
}

.square2 {
    width: 110%;
    padding-bottom: 20%;
    
}

.square-col {
    width: 31%;
    height: 0;
    padding-top: 30%;
    box-sizing: border-box;
    margin: 0.8%;
  
}

.square {
    width: 100%;
    padding-bottom: 100%;
}

.bigImage {
    background-image: url("https://cdn.pixabay.com/photo/2023/05/23/15/26/bengal-cat-8012976_1280.jpg");
    background-size: cover;
    position: relative;
}

.sq1 {
    background-image: url("https://cdn.pixabay.com/photo/2023/05/17/03/41/pheasant-7998988_640.jpg");
    background-size: cover;
    position: relative;
}

.sq2 {
    background-image: url("https://cdn.pixabay.com/photo/2023/05/21/12/40/dog-8008483_640.jpg");
    background-size: cover;
    position: relative;
}

.sq3 {
    background-image: url("https://cdn.pixabay.com/photo/2023/05/21/07/47/horse-8008038_640.jpg");
    background-size: cover;
    position: relative;
}

.sq4 {
    background-image: url("https://cdn.pixabay.com/photo/2023/02/13/13/16/silver-gull-7787328_640.jpg");
    background-size: cover;
    position: relative;
}

.sq5 {
    background-image: url("https://cdn.pixabay.com/photo/2023/05/19/05/33/boats-8003723_1280.jpg");
    background-size: cover;
    position: relative;
}

.sq6 {
    background-image: url("https://cdn.pixabay.com/photo/2023/05/14/02/15/squirrel-7991828_1280.jpg");
    background-size: cover;
    position: relative;
}

.sq7 {
    background-image: url("https://cdn.pixabay.com/photo/2023/04/05/13/01/animal-7901464_1280.jpg");
    background-size: cover;
    position: relative;
}

.sq8 {
    background-image: url("https://cdn.pixabay.com/photo/2023/05/20/03/57/black-capped-chickadee-8005838_1280.jpg");
    background-size: cover;
    position: relative;
}

.sq9 {
    background-image: url("https://cdn.pixabay.com/photo/2023/05/06/14/08/deer-7974406_1280.jpg");
    background-size: cover;
    position: relative;
}